body { 
    font-family: 'Montserrat', sans-serif;
}

#aboutPageLogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#aboutIntroText {
    text-align: center;
}