/* Contact Page SCSS
================================================== */
/* Contact (Page) SCSS */

.contact.con {                  width: 100%; padding: 15px; background-color: #31cc7f;}
.contact h3, .contact p, .contact svg, .contact .from, .contact .skratch, .contact span {                   color: #fff;}
.contact .social-media svg {     margin: 10px 10px 10px 0; font-size: 36px; line-height: 36px;}