
/* Navbar SCSS
================================================== */
// Logo Styles
div.logo {              display: inline-block; margin: 5px 0;}
div.logo span {         color: var(--main-color);}
div.logo a {            text-decoration: none; color: var(--second-color);}

// NavMenu Styles
nav {                   height: 60px; width: 100%; margin: 0; display: relative;}
ul.nav {                display: block; float: right; margin: 10px 0 0;}
ul.nav li {             display: inline-block; padding: 3px 10px; margin: 5px 15px 2px 0;}
ul.nav li:last-child {      margin: 0;}
ul.nav li a {           text-decoration: none; color: var(--navtext-color);}
ul.log-user {           display: block; float: right; padding: 10px; margin: 20px 40px 23px;}
ul.log-user i {         font-size: 18px; display: block; float: left; margin: 0 0 0 5px; padding: 10px; border-radius: 3px;}

// NavMenu Icon Styles
svg {                   display: inline-block; margin: 0 4px 0 0;}

/* Navbar Typography SCSS
================================================== */
// Logo Typography
div.logo a {        font-family: 'Montserrat', sans-serif; letter-spacing: -1px; font-size: 18px; font-weight: 900;}
span.logo {         font-family: 'Mrs Sheppards', sans-serif; font-size: 30px; font-weight: 300;}

// NavMenu Typography
ul.nav li a {       font-size: 14px; font-weight: 600;}




