#recipeSearchResultsContainer{
    display:flex;
    justify-content: flex-start;
    margin: 60px auto 60px auto;
    
}
#searchByHeader {
    display: flex;
    justify-content: flex-start;
}
#recipeBody {
    background-color: #31cc7f !important;
}


button {                    
    font-size: 1.2rem;
    margin: 10px;         
    border: none;
    outline: none;
}